

body{
  background: #0D7173;    
}

#introduction p{
  font-size:1.5em;
  }

#introduction #hello{
  font-size:1em;
}

#introduction{
  position: absolute;
  left: 480px;
  top: 260px;
  animation-name: intro_anim;
  animation-duration: 1s;
  /*animation-delay: 0s;*/

}
#programmer{
  position: absolute;
  left: 140px;
  top: 200px;
  animation-name: teacher_anim;
  animation-duration: 1s;
  /*animation-delay: .5s;*/
}
#teacher{
  position: absolute;
  left: 260px;
  top: 50px;
  animation-name: programmer_anim;
  animation-duration: 1s;
  /*animation-delay: .75s;*/
}
#game{
  position: absolute;
  left: 770px;
  top: 60px;
  animation-name: game_anim;
  animation-duration: 1s;
  /*animation-delay: .25s;*/
}

@keyframes intro_anim {
  0%   {left:0px; top:0px;}
  50%  {left:480px; top:210px;}
  100% {left:480px; top:260px;}
}
@keyframes programmer_anim {
  0%   {left:0px; top:0px;}
  50%  {left:260px; top:0px;}
  100% {left:260px; top:50px;}
}
@keyframes teacher_anim {
  0%   {left:0px; top:0px;}
  50%  {left:140px; top:180px;}
  100% {left:140px; top:200px;}
}
@keyframes game_anim {
  0%   {left:0px; top:0px;}
  50%  {left:770px; top:10px;}
  100% {left:770px; top:60px;}
}

canvas {
  width:282px;
  height:250px;
}


.hidden{
  display: none;
}

#doom{
    image-rendering: pixelated;
}
